*{
  box-sizing:border-box;
  margin:0;
  padding:0;
  font-family:Arial,sans-serif;
}

body{
  height:100vh;
  display:flex;
  flex-direction:column;
  background:#F8FAFC;
}

.header{
  background:#a6d6b8;
  color:#0F172A;
  text-align:center;
  padding:18px;
  font-size:22px;
  font-weight:bold;
  border-bottom:1px solid #E2E8F0;
}

.top-bar{
  display:flex;
  gap:10px;
  padding:12px;
  background:#FFFFFF;
  border-bottom:1px solid #E2E8F0;
}

.top-bar input{
  flex:1;
  padding:12px;
  border-radius:6px;
  border:1px solid #CBD5E1;
  background:#FFFFFF;
  color:#0F172A;
}

.top-bar input::placeholder{
  color:#64748B;
}

.top-bar button{
  padding:12px 18px;
  background:#22C55E;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

.top-bar button:hover{
  background:#16A34A;
}

.layout{
  flex:1;
  display:flex;
  overflow:hidden;
}

.chat{
  flex:4;
  display:flex;
  flex-direction:column;
  background:#aba8a8;
  padding:12px;
}

.messages{
  flex:1;
  overflow-y:auto;
  padding-right:6px;
  margin-bottom:10px;
  display:flex;
  flex-direction:column;
}

.msg{
  padding:10px 14px;
  border-radius:16px;
  margin-bottom:8px;
  max-width:65%;
  word-wrap:break-word;
  font-size:15px;
}

.name{
  display:block;
  font-size:12px;
  font-weight:bold;
  margin-bottom:4px;
  opacity:0.7;
  color:#475569;
}

.me{
  background:#DCF8C6;
  color:#0F172A;
  margin-right:auto;
  border-bottom-left-radius:4px;
}

.other{
  background:#FFFFFF;
  color:#0F172A;
  margin-left:auto;
  border-bottom-right-radius:4px;
}

#msgBox{
  padding:14px;
  border:none;
  border-radius:8px;
  outline:none;
  font-size:15px;
  background:#FFFFFF;
  color:#0F172A;
}

.sidebar{
  flex:1;
  background:#78a9e2;
  display:flex;
  flex-direction:column;
  border-left:1px solid #E2E8F0;
}

.sidebar h3{
  text-align:center;
  padding:14px;
  background:#FFFFFF;
  border-bottom:1px solid #E2E8F0;
  font-size:16px;
  color:#0F172A;
}

#users{
  flex:1;
  overflow-y:auto;
  padding:10px;
}

#users div{
  padding:10px;
  margin-bottom:8px;
  background:#FFFFFF;
  border-radius:8px;
  border:1px solid #E2E8F0;
  font-size:14px;
  font-weight:600;
  color:#0F172A;
}

